{
  "jsc": {
    "loose": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": false,
      "decoratorsBeforeExport": false
    },
    "transform": {
      "legacyDecorator": true
    },
    "target": "es2017"
  },
  "module": {
    "type": "commonjs"
  }
}